---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.github.source }}{{ post.path }}"><i class="fa fa-edit"></i></a>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <ul class="post-info">
      <li><i class="fa fa-calendar"></i> <time datetime="{{ post.date | date_to_xmlschema }}"> {{ post.date | date_to_string }} </time></li>
      <li><i class="fa fa-tags"></i> {{ post | tags }} </li>
      <li><i class="fa fa-comments"></i> <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{% if post.disqus_identifier %}{{ post.disqus_identifier}}{% else %}{{ post.url }}{% endif %}">0 comments</a></li>
    </ul>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
