<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="tag-cloud">
      {{ site | tag_cloud }}
    </div>
    <div class="sidebar-about">

      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead"><a href="/">{{ site.description }}</a></p>

    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}{% if node.layout == "page" %}{% if node.title != null %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
      {% endif %}{% endif %}{% endfor %}
    </ul>
    <ul class="sidebar-social">
      <li class="sidebar-social-item"><a href="http://twitter.com/hazzik" rel="me" alt="Twitter"><i class="fa fa-twitter"></i></a></li>
      &middot;
      <li class="sidebar-social-item"><a href="http://github.com/hazzik" rel="me" alt="GitHub"><i class="fa fa-github"></i></a></li>
      &middot;
      <li class="sidebar-social-item"><a href="http://linkedin.com/in/hazzik" rel="me" alt="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
      &middot;
      <li class="sidebar-social-item"><a href="rss://{{ site.url }}/atom.xml" alt="Subscribe"><i class="fa fa-rss"></i></i></a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
